volumes:
  minio_data:

services: 
  backend:
    build: ./app
    ports: 
      - "8000:8000"
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment: 
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"